<h1>User</h1>
<% shownUser.forEach(user => { %>
  <h5>Name: <%= user.name %> </h5>
  <span>Geschlecht: <%= user.geschlecht %> </span>
  <span>Alter: <%= user.alter %> </span>
  <span>Hobbys: <%= user.hobbys %> </span>
  <span>Interessiert in: <%= user.interessiert %> </span>
  <span>Wohnort: <%= user.wohnort %> </span>
  <span>Religion: <%= user.religion %> </span>
<% }); %>
