<h1>UserData for <%=user.name %></h1>
<p> This User has <%= user.hobbys.length %> associated hobby(s)</p>
<table>
    <tr>
      <th>Name</th>
      <td><%=user.name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%=user.email%></td>
    </tr>
    <tr>
      <th> Geschlecht</th><td>
      <%=user.geschlecht %></td>
    </tr>
    <tr>
      <th>Alter</th>
      <td><%=user.alter%></td>
    </tr>
    <tr>
      <th>Hobbys</th>
      <td><%=user.hobbys%></td>
    </tr>
    <tr>
      <th>Interessiert</th>
      <td><%=user.wohnort%></td>
    </tr>
    <tr>
      <th>Wohnort</th>
      <td><%=user.wohnort%></td>
    </tr>
    <tr>
      <th>Religion</th>
      <td><%=user.religion%></td>
    </tr>
</table>
